<h1>LOGIN</h1>
 
<%= form_with(url: login_path, local: true) do |form| %>
  <div class="field">
    <%= form.label :mail %>
    <%= form.text_field :mail %>
  </div>
 
  <div class="field">
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>
 
  <div class="actions">
    <%= form.submit 'login'%>
  </div>
<% end %>